DESCRIPTION = "Sample Hello world! program"
LICENSE = "GPLv3"
LIC_FILES_CHKSUM = "file://${COMMON_LICENSE_DIR}/GPL-3.0;md5=c79ff39f19dfec6d293b95dea7b07891"

PV = "0.0.1"
PR = "r0"

SRC_URI = "file://helloworld.c"

EXTRA_OEMAKE = "VPATH=${WORKDIR}"
S = "${WORKDIR}/${P}"

do_compile () {
	oe_runmake helloworld
}

do_install () {
	install -D -p -m 0755 helloworld ${D}${bindir}/helloworld
}
