#### For more, documented settings, look into
#### <topdir>/org.openembedded.core/meta/conf/local.conf.sample*

BBMASK			 = "${BBMASK_DISTRO}"

#MACHINE_KERNEL_VERSION	 = "3.1"
#KERNEL_BRANCH		 = "vendor/project"
#KERNEL_DEFCONFIG	 = "project_defconfig"

#PROJECT_FEATURES	 = "mmc fb usbhost touchscreen"

#PROJECT_EXTRA_RDEPENDS  = "task-${PROJECT_NAME}"
#PROJECT_EXTRA_RRECOMMENDS = ""

# Override default user classes
#USER_CLASSES		 = "rm_work image-prelink"

#IMAGE_LINGUAS		 = "de-de en-gb en-us fr-fr"
#DEFAULT_TIMEZONE	 = "Europe/Berlin"

# The EXTRA_IMAGE_FEATURES variable allows extra packages to be added
# to the generated image
#EXTRA_IMAGE_FEATURES	 = " \
#  debug-tweaks tools-debug package-management ssh-server-dropbear \
#  apps-console-core"
