[Unit]
Description=SSH Key Generation
ConditionFileNotEmpty=|!/etc/dropbear/dropbear_rsa_host_key
After=etc-dropbear-dropbear-rsa_host_key.mount etc-dropbear.mount
Wants=etc-dropbear.mount

[Service]
Type = oneshot
ExecStartPre = -/bin/rm -f /etc/dropbear/dropbear_rsa_host_key
ExecStart = /usr/sbin/dropbearkey -t rsa -f /etc/dropbear/dropbear_rsa_host_key
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
