[Unit]
Description = syslogd
After = systemd-tmpfiles-setup.service
After = systemd-kmsg-syslogd.service

[Install]
WantedBy = multi-user.target

[Service]
Type = simple
Restart = on-failure
EnvironmentFile = -/etc/sysconfig/syslogd
ExecStartPre = /bin/systemctl stop systemd-kmsg-syslogd.service
ExecStart = /sbin/syslogd $SYSLOG_OPTIONS -n
Sockets = syslog.socket
StandardOutput = null
