# -*- conf -*-
[Unit]
Description = QT Demo
After = device-touchscreen.target
Wants = device-touchscreen.target

[Service]
Restart = always
Environment = QWS_MOUSE_PROTO=LinuxMT:/dev/input/event-touchscreen0
EnvironmentFile = -/etc/default/qt.env
ExecStart = /usr/bin/qtdemoE -qws

[Install]
WantedBy = multi-user.target
